<div class="grid-x align-center">
  <div class="large-4">
    <div id="clearance" class="sign-in">
      <h2><%= t(".title") %></h2>
      <%= render partial: '/sessions/form' %>
    </div>
  </div>
</div>
