<div class="grid-container">
  <div class="grid-x align-center">
    <div class="shrink cell">
      <div id="clearance" class="sign-in">
        <h2><%= t(".title") %></h2>
        <%= render partial: '/sessions/form' %>
      </div>
    </div>
  </div>
</div>
