<h3><%= @hive.name %> </h3>

<%= link_to "Add Inspection", new_hive_inspection_path(@hive) %>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Population Size</th>
    </tr>
  </thead>
  <tbody>
    <% @inspections.each do |inspection| %>
      <tr>
        <td><%= link_to inspection.date, hive_inspection_path(inspection) %></td>
        <td><%= inspection.population_size %></td>
      </tr>
    <% end %>
  </tbody>
</table>
